<%= form_for(@order) do |f| %>
      <% if @order.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

            <ul>
              <% @order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name %>

        <%= f.label :card_brand %>
        <!-- <%= f.text_field :card_brand %> -->
        <%= f.select :card_brand,[["Visa","visa"],["Master card","master"],["American Express","american_express"],["Discover","discover"]] %>

        <%= f.label :card_number %>
        <%= f.text_field :card_number %>

        <%= f.label :card_verification,"Card verification Value (CVV)" %>
        <%= f.text_field :card_verification %>

        <%= f.label :card_expires_on %>
        <%= f.date_select :card_expires_on, :discard_day => true,:start_year => Date.today.year,:end_year => (Date.today.year+10),:add_month_numbers => true %>

        <%= f.submit %>

<% end %>
